


.button1 {
    background-color: #04AA6D;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 3px 1.5px;
    cursor: pointer;
} 
script{
    size:100%;
}
/* Google form mobile */
@media screen and (max-width:767px) {
iframe[src*="google.com/forms"] {
    width: 100% !important;
    height: 800px;
    


.button onclick {
    border: none;
    color: rgb(256, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

body{
    margin: 0px;
}
main{
    margin-left: 15px;
    margin-right: 15px;
}
h1{
    text-align: center;
    img-align: center;
 








h4{
    text-align: center;

}
img{
    text-align: center;


}
h2{
    text-align: center;


}

a{
    color:#00b7ff;
}

img:active{
    outline-color: hsl(126, 100%, 50%);
}
}
}
